<div class="control play">
  <span class="left"></span><span class="right"></span>
</div>

<style >
.control {
  @color: #ffb160;
  @highlight: darken(@color, 10%);
  @duration: 0.4s;
  @sin:  0.866;
  @size: 112px;

  border: @size*0.1 solid @color;
  border-radius: 50%;
  margin: 20px;
  padding: @size*0.25;
  width: @size;
  height: @size;
  font-size: 0;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;

  &, .left, .right, &:before {
    display: inline-block;
    vertical-align: middle;
    transition: border @duration, width @duration, height @duration, margin @duration;
    transition-tiomig-function: cubic-bezier(1, 0, 0, 1);
  }

  &:before {
    content: "";
    height: @size;
  }

  &.pause {
    .left, .right {
      margin: 0;
      border-left: @size*0.33 solid @color;
      border-top: 0 solid transparent;
      border-bottom: 0 solid transparent;
      height: @size*@sin;
    }

    .left {
      border-right: @size*0.2 solid transparent;
    }
  }

  &.play {
    @border: @size/4;

    .left {
      margin-left: @size/6;
      border-left: @size*@sin/2 solid @color;
      border-top: @border solid transparent;
      border-bottom: @border solid transparent;
      border-right: 0px solid transparent;
      height: @size - 2*@border;
    }

    .right {
      margin: 0;
      border-left: @size*@sin/2 solid @color;
      border-top: @border solid transparent;
      border-bottom: @border solid transparent;
      height: 0px;
    }
  }

  &:hover {
    border-color: @highlight;

    .left, .right {
      border-left-color: @highlight;
    }
  }
}
</style>

<script>
$('.control').on('mousedown', function() {
  $(this).toggleClass('pause play');
});

$(document).on('keyup', function(e) {
  if (e.which == 32) {
    $('.control').toggleClass('pause play');
    alert('button pressed! play or stop...');
  }
});
</script>
