

  <div id="player">
    <div id="info" class=''>
      <h1 class="text-effect">Chacarera de la Tribu (Xunorus)</h1>
      <h2>by Pacha Xunorus</h2>
    </div>


     <canvas id="visualization"></canvas>



    <div id="controls">

      <div class="group0" id="r1">
        <a class="player big" id="play" href="" title="">
          <i class="icon-play"></i>
        </a>
      </div>

      <div class="group" id="time">
        <div class="static">
          <label class="etiqueta"></label>
          <span id="currentTime">00:00</span>
          <span id="totalTime">00:00</span>
        </div>
      </div>

      <div class="group2" id="seekHolder">
        <div id="timeLabel">00:00</div>
        <div class="static rangeContainer">
            <label class="etiqueta"></label>
            <div class="stripes rangeHorizontal" id="seek"></div>
            <div  class="stripes" id="seekFill"></div>
            <div id="seekDrag"></div>
        </div>
      </div>



      <div class="group3" id="right">

<!-- volumen-->
    <a class="button " id="mute" href="" title="">
          <label id="volumen">
        <span id="volumePercent">100</span>
        <div class="rangeVertical" id="volume"></div>
        <div id="volumeFill"></div>
        <div id="volumeOverlay"></div>
      </label>
          <i class="icon-volume-up" id="volumeIcon"></i>
    </a>

<!-- loop-->
        <a class="player" id="loop" href="" title="">
          <label class="labelloop  ">LOOP</label>
          <i class="icon-ban-circle" id="loopIcon"></i>
        </a>


      </div><!-- fin right-->

    </div><!-- fin controls-->
          <div id="playerbottom">



    <a  id="player_left" href="" title="">
          <label class="labelloop  ">Prev</label>
          <i class="icon-ban-circle" ></i>
        </a>

    <a  id="player_top" href="" title="">
          <label class="labelloop  ">Prev</label>
          <i class="icon-ban-circle" ></i>
        </a>

    <a  id="player_right" href="" title="">
          <label class="labelloop  ">Prev</label>
          <i class="icon-ban-circle" ></i>
        </a>



      </div>

  </div>
